{%- capture tabs %}
  {%- capture content %}{{ collections['ocean-bottle'].description }}{% endcapture -%}
  34090^^About Ocean Bottle^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Ocean Bottle^^^^^^0^^~~
  {%- capture content %}{{ collections['bambu'].description }}{% endcapture -%}
  56037^^About Bambu^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Bambu^^^^^^0^^~~
  {%- capture content %}{{ collections['ceae'].description }}{% endcapture -%}
  56038^^About Ceae^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Ceae^^^^^^0^^~~
  {%- capture content %}{{ collections['haoma'].description }}{% endcapture -%}
  56043^^About Haoma^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Haoma^^^^^^0^^~~
  {%- capture content %}{{ collections['neat'].description }}{% endcapture -%}
  56045^^About Neat^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Neat^^^^^^0^^~~
  {%- capture content %}{{ collections['our-tiny-bees'].description }}{% endcapture -%}
  56046^^About Our Tiny Bees^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Our Tiny Bees^^^^^^0^^~~
  {%- capture content %}{{ collections['patch'].description }}{% endcapture -%}
  56047^^About Patch^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Patch^^^^^^0^^~~
  {%- capture content %}{{ collections['qwetch'].description }}{% endcapture -%}
  56049^^About Qwetch^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Qwetch^^^^^^0^^~~
  {%- capture content %}{{ collections['respiin'].description }}{% endcapture -%}
  56050^^About ReSpiin^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||ReSpiin^^^^^^0^^~~
  {%- capture content %}{{ collections['ruby-cup'].description }}{% endcapture -%}
  56051^^About Ruby Cup^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Ruby Cup^^^^^^0^^~~
  {%- capture content %}{{ collections['shark'].description }}{% endcapture -%}
  56052^^About Shark^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Shark^^^^^^0^^~~
  {%- capture content %}{{ collections['truthbrush'].description }}{% endcapture -%}
  56055^^About Truthbrush^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Truthbrush^^^^^^0^^~~
  {%- capture content %}{{ collections['zero-waste-path'].description }}{% endcapture -%}
  56035^^About Zero Waste Path^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Zero Waste Path^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['fushi'].description }}</p>{% endcapture -%}
  56040^^About Fushi^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Fushi^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['georganics'].description }}</p>{% endcapture -%}
  56041^^About Georganics^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Georganics^^^^^^0^^~~
  {%- capture content %}{{ collections['chewsy'].description }}{% endcapture -%}
  56039^^About Chewsy^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Chewsy^^^^^^0^^~~
  {%- capture content %}{{ collections['elephant-box'].description }}{% endcapture -%}
  56036^^About Elephant Box^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Elephant Box^^^^^^0^^~~
  {%- capture content %}{{ collections['kind-bag'].description }}{% endcapture -%}
  56044^^About Kind Bag^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Kind Bag^^^^^^0^^~~
  {%- capture content %}{{ collections['green-island'].description }}{% endcapture -%}
  56042^^About Green Island^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Green Island^^^^^^0^^~~
  {%- capture content %}{{ collections['percol'].description }}{% endcapture -%}
  56048^^About Percol^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Percol^^^^^^0^^~~
  {%- capture content %}{{ collections['tru-earth'].description }}{% endcapture -%}
  56054^^About Tru Earth^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Tru Earth^^^^^^0^^~~
  {%- capture content %}{{ collections['the-nature-of-things'].description }}{% endcapture -%}
  56053^^About The Nature Of Things^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||The Nature Of Things^^^^^^0^^~~
  {%- capture content %}{{ collections['milly-sissy'].description }}{% endcapture -%}
  59658^^About Milly & Sissy^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|260610785354|||^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['corinne-taylor'].description }}</p>{% endcapture -%}
  59660^^About Corinne Taylor^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|169792569418|||^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['sol-de-ibiza'].description }}</p>{% endcapture -%}
  59661^^About Sol De Ibiza^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|260480204874|||^^^^^^0^^~~
  {%- capture content %}{{ collections['ecococonut'].description }}{% endcapture -%}
  34094^^About EcoCoconut^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||EcoCoconut^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['loofco'].description }}</p>{% endcapture -%}
  34822^^About LoofCo^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||LoofCo^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['the-swag'].description }}</p>{% endcapture -%}
  34820^^About The Swag^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||The Swag^^^^^^0^^~~
  {%- capture content %}{{ collections['neon-kactus'].description }}{% endcapture -%}
  34093^^About Neon Kactus^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Neon Kactus^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['zero-waste-club'].description }}</p>{% endcapture -%}
  34092^^About Zero Waste Club^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Zero Waste Club^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['acala'].description }}</p>{% endcapture -%}
  34087^^About Acala^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Acala^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['biork'].description }}</p>{% endcapture -%}
  34085^^About Biork^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Biork^^^^^^0^^~~
  {%- capture content %}{{ collections['eco-living'].description }}{% endcapture -%}
  34086^^About Eco Living^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Eco Living^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['skin-tonic'].description }}</p>{% endcapture -%}
  37488^^About Skin & Tonic^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||Skin & Tonic^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['oceansaver'].description }}</p>{% endcapture -%}
  37489^^About OceanSaver^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||OceanSaver^^^^^^0^^~~
  {%- capture content %}{{ collections['upcircle'].description }}{% endcapture -%}
  42307^^About UpCircle^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^||||UpCircle^^^^^^0^^~~
  {%- capture content %}{{ collections['dans-le-sac'].description }}{% endcapture -%}
  65040^^About Dans Le Sac^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|260970250314|||^^^^^^0^^~~
  {%- capture content %}{{ collections['beebee-leaf'].description }}{% endcapture -%}
  34855^^About BeeBee & Leaf^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|165401329738|||^^^^^^0^^~~
  {%- capture content %}{{ collections['shower-blocks'].description }}{% endcapture -%}
  65043^^About Shower Blocks^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|260984242250|||^^^^^^0^^~~
  {%- capture content %}{{ collections['the-natural-deodorant-co'].description }}{% endcapture -%}
  65044^^About The Natural Deodorant Co^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|261064065098|||^^^^^^0^^~~
  {%- capture content %}{{ collections['terra-ties'].description }}{% endcapture -%}
  65045^^About Terra Ties^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|261056725066|||^^^^^^0^^~~
  {%- capture content %}<p>{{ collections['safix'].description }}</p>{% endcapture -%}
  59659^^About Safix^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|260584013898|||^^^^^^0^^~~
  {%- capture content %}{{ collections['kleensoaps'].description }}{% endcapture -%}
  65041^^About Kleensoaps^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^|261056135242|||^^^^^^0^^~~
  {%- capture content %}{%- render 'the-ideal-sunday-reviewsio-polaris' -%}{% endcapture -%}
  66599^^Product Reviews^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^^^^^0^^~~
  {%- capture content %}<p><em>Order before 12pm for same day dispatch.</em></p>
<p><strong>Free 48 Hour UK Delivery on orders over &pound;40!</strong></p>
<table style="width: 100%; margin-bottom: 20px;" border="1">
<tbody>
<tr>
<td style="width: 78.61060329067642%;">UK - Royal Mail 48 Hour</td>
<td style="width: 17.915904936014627%; text-align: right;">&pound;2.95</td>
</tr>
<tr>
<td style="width: 78.61060329067642%;">UK - Royal Mail 24 Hour</td>
<td style="width: 17.915904936014627%; text-align: right;">&pound;4.75</td>
</tr>
<tr>
<td style="width: 78.61060329067642%;">Rest of the World - Tracked (7-10 Working Days)</td>
<td style="width: 17.915904936014627%; text-align: right;">&pound;15.00</td>
</tr>
</tbody>
</table>
<p>All delivery times are from time of dispatch.</p>
<p>We offer a full refund on items returned within 14 days of purchase. You will be responsible for delivery charges unless the items are damaged or incorrect.</p>
<p>Head to&nbsp;<a title="The Ideal Sunday Delivery &amp; Returns" href="https://theidealsunday.com/pages/delivery-returns">Delivery &amp; Returns</a>&nbsp;for more information.</p>{% endcapture -%}
  35466^^Delivery & Returns^^{{ content | replace: '~', '&#126;' | replace: '^', '&#94;' }}^^0||||^^4535484579914,4586601906250^^^^0^^~~
{%- endcapture -%}
{%- assign tabs_array = tabs | strip | split: '~~' -%}
{%- assign p_id_str = product.id | downcase -%}
<!-- begin station shared tab data -->
{%- for item in tabs_array -%}
  {%- assign tab = item | split: '^^' -%}
  {%- assign hndl = tab[1] | replace: '&amp;', '' | handleize -%}
  {%- capture tab_output -%}
    <div id="station-tabs-data-{{ tab[0] }}" class="station-tabs-data-item" style="display:none;" data-position="{{ tab[5] | default: -1 }}">
      <a id="st-link-{{ hndl }}" class="station-tabs-link" href="#{{ hndl }}"><span>{{ tab[1] }}</span></a>
      <div id="st-{{ hndl }}" class="station-tabs-content">
        <div class="station-tabs-content-inner">{{ tab[2] }}</div>
      </div>
    </div>
  {%- endcapture -%}
  {%- assign asn = tab[3] | split: '|' -%}
  {%- assign p_ids = asn[0] | split: ',' -%}
  {%- assign e_ids = tab[4] | split: ',' -%}
  {%- unless tabs_order contains tab[0] %}{% continue %}{% endunless -%}
  {%- if e_ids contains p_id_str %}{% continue %}{% endif -%}
  {%- if tab[7] != blank%}
    {%- assign t_lcl = tab[7] | downcase -%}
    {%- assign s_lcl = request.locale.iso_code | downcase -%}
    {%- if t_lcl != s_lcl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if asn[0] == '0' or asn[1] == '0' -%} 
    {{ tab_output }}{% continue -%}
  {%- endif -%}
  {%- assign col_ids = asn[1] | split: ',' -%}
  {%- assign tags = asn[2] | split: ',' -%}
  {%- assign tps = asn[3] | split: ',' -%}
  {%- assign vndr = asn[4] | split: ',' -%}
  {%- if tab[6] == '1' %}{% assign all = true %}{% else %}{% assign all = false %}{% endif -%}
  {%- if asn[0] != blank -%}
    {%- assign all = false -%}
    {%- if p_ids contains p_id_str -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if tps.size > 1 or vndr.size > 1 %}{% assign all = false %}{% endif -%}
  {%- assign cncl = false -%}
  {%- if col_ids.size > 0 -%}
    {%- assign cols = product.collections | map: 'id' | downcase -%}
    {%- for c in col_ids -%}
      {%- if all -%}
        {%- unless cols contains c %}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif cols contains c -%}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tags.size > 0 -%}
    {%- for t in tags -%}
      {%- if all -%}
        {%- unless product.tags contains t -%}
          {%- assign cncl = true %}{% break -%}
        {%- endunless -%}
      {%- elsif product.tags contains t %}
        {{ tab_output }}{% assign cncl = true %}{% break -%}
      {%- endif - %}
    {%- endfor -%}
    {%- if cncl %}{% continue %}{% endif -%}
  {%- endif -%}
  {%- if tps.size > 0 -%}
    {%- if all and tps[0] != product.type -%}
      {%- continue -%}
    {%- elsif all == false and tps contains product.type %}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if vndr.size > 0 -%}
    {%- if all and vndr[0] != product.vendor -%}
      {%- continue -%}
    {%- elsif all == false and vndr contains product.vendor -%}
      {{ tab_output }}{% continue -%}
    {%- endif -%}
  {%- endif -%}
  {%- if all %}{{ tab_output }}{% endif -%}
{%- endfor -%}
<!-- end station shared tab data -->