
  {%- liquid
    assign collection = collections[block.settings.collection]
    assign background_position = block.settings.focal_point

    case section.blocks.size
      when 1
        assign grid_blocks = 'row--1-blocks'
      when 2
        assign grid_blocks = 'row--2-blocks'
      when 3
        assign grid_blocks = 'row--3-blocks'
      when 4
        assign grid_blocks = 'row--4-blocks'
      when 5
        assign grid_blocks = 'row--5-blocks'
    endcase
  -%}
<div class="page-width">
  {% if section.settings.heading %}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.heading }}</h2>
    </div>
  {% endif %}
  
  <div class="collection-list__row row--mosaic {{ grid_blocks }} row--default-height">
    <div class="flickity-collection-slider flickity-slider-wrapper" data-flickity='{ "watchCSS": true }'>
    {%- for block in section.blocks -%}
      <div id="CollectionBlock--list-collections-list-collections-0" class="carousel-cell collection-block js-collection-block collection-block--has-image block s1 lg_s10 med_s12" data-animation="moFadeInUp">
        <a href="{{ block.settings.link }}" aria-label="Collection" class="collection-block__link" style="background-color: {{ block.settings.background_color }}">
          {% if block.settings.image %}
            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_500x.' -%}
              <img 
              src="{{ img_url }}" 
              alt="" 
              class="lazyload collection-block__image" 
              style="width: {{ block.settings.image_width}}px; top: {{ block.settings.image_vertical_position }}%; left: {{ block.settings.image_horizontal_position }}%;"
              data-widths="[180, 360, 540, 720]"
              data-aspectratio="{{ block.settings.image.aspect_ratio }}"
              data-sizes="auto"
              > 
          {% endif %}
          <div class="collection-block__info text-position--bottom_left {{ block.settings.text_position }}">
            <div>
              <h5 class="collection-block__subttitle">{{ block.settings.sub_title }}</h5>
              <h3 class="collection-block__title">{{ block.settings.title }}</h3>
              <span class="button button--primary">Shop Now</span>
            </div>
          </div>
        </a>
      </div>
    {%- endfor -%}
    </div>
  </div>
  </div>

{% schema %}
  {
    "name": "TIS Collection Grid",
    "class": "index-section tis-collection-grid",
    "max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"      
      },
      {
        "type": "color",
        "id": "section_background",
        "label": "Section Background"      
      }
    ],
    "blocks": [
      {
        "type": "grid_item",
        "name": "Grid Item",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Block Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image Size",
            "default": 200,
            "min": 0,
            "max": 500,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "range",
            "id": "image_vertical_position",
            "label": "Image Vertical Position",
            "default": 0,
            "min": -100,
            "max": 100,
            "step": 5,
            "unit": "%"
          },
          {
            "type": "range",
            "id": "image_horizontal_position",
            "label": "Image Horizontal Position",
            "default": 0,
            "min": -100,
            "max": 100,
            "step": 5,
            "unit": "%"
          },
          
          {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Title",
            "default": "Sub Title"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "Text Position",
            "default": "vertical-top horizontal-left",
            "options": [
              {
                "value": "vertical-top horizontal-left",
                "label": "Top left"
              },
              {
                "value": "vertical-top horizontal-right",
                "label": "Top right"
              },
              {
                "value": "vertical-bottom horizontal-left",
                "label": "Bottom left"
              },
              {
                "value": "vertical-bottom horizontal-right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Block Link"          
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background colour"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "TIS Collection Grid",
        "blocks": [
          {
            "type": "grid_item"
          },
          {
            "type": "grid_item"
          },
          {
            "type": "grid_item"
          },
          {
            "type": "grid_item"
          },
          {
            "type": "grid_item"
          }
        ]
      }
    ]
  }
{% endschema %}
